body {
    background-image: linear-gradient(to right bottom, green 30%, blue 50%, blue 20%);
}

#header-content {
    position: inherit;
    color: #333;
}

#head {
    background-image: #333;
}


.header-table {
   
}

.button {
    background-color: #333;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    transition-duration: 0.4s;
    color:white;
}

    .button:hover {
        color: #111;
    }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.table-test {
overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.table-test a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.table-test a:hover {
    background: #ddd;
    color: black;
}

#nav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 16px;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

#nav li a:hover {
    background-color: #111;
}

#DetailsView1 {
   float: left;
}
