body {
    background-color: paleturquoise;
    background-image: url("../Page_Wallpapers/header_background.png");
}


#headerContent {
    position: sticky;
    color: #333;
    font-family: monospace;
    

   
    
}

#headerContent h1 {
    font-size: 27px;
    font-family: 'Wingdings 3';
    color: darkslateblue;
    position: absolute;
    bottom:86px;
    left: 100px;
    background-repeat: no-repeat;
    background-position: center; 
    padding-left: 20px;
    padding-right: 22px;
    z-index:2;
} 
    
/*#imagetext h1 {
  
    font-family: monospace;
    color: red;
    position: relative;
    bottom: 10px;
    right: 10px;
    float:left;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
} */

#titlepic {
    position: relative;
    top: 20px;
    left:100px;
    z-index:1;
    width:343px;
    height:90px;
}
    

/*#head {
    background-color: #333;
    
}
*/

.button {
    background-color: #333;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    transition-duration: 0.4s;
    color: white;
    font-family: monospace;
    float: left;
    height: auto;
    width: auto;
    /*
    background-image: url(../Page_Wallpapers/mapbigger-header-cantidate.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center; */
}

 .button:hover {
        color: #111;
 }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-family:monospace;
}

#nav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 16px;
    font-family:monospace;
    z-index:0;
   
    
 
    
}

#nav li {
    float: left;
    height:auto;
    width:auto;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family:monospace;
   /* height:auto;
    width:auto; */
}

#nav li a:hover {
    background-color: #111;
}

#DetailsView1 {
   float: left;
}

#Content {
    background-image: url("../Page_Wallpapers/map-texture.png");
    color:white;
}

/*Section Start: Upload Map*/
.label_upload {
    color:dimgray;
    
}

.content_background {
    z-index:0;
    position:absolute;
    right:550px;
    width:900px;
}

#content_actual {
    z-index: 1;
}

.content_actual table {
    z-index: 1;
    color:dimgrey;
    position: absolute;
    bottom: 500px;
    right: 750px;
    top: 300px;
}

.content_actual label
{
    z-index:inherit;
}

span#ContentPlaceHolder1_mapUploadResult {
    position: absolute;
    top:211px;
    left:2px;
    bottom:auto;
}

span#ContentPlaceHolder1_mapNameTakenLabel {
    position: fixed;
    left: 1050px;
    bottom: 770px;
}

input#ContentPlaceHolder1_UploadButton {
    position: absolute;
    left: 70px;
}

span#ContentPlaceHolder1_MapFileValidator {
    position: relative;
    right: 75px;
}

/*Section End: Upload Map*/


