body {
    background-color: paleturquoise;
}

#header-content {
    position: inherit;
    color: #333;
    border: 50px solid red;
    font-family:monospace;
}

#head {
    background-color: #333;
    background-image: url("../Page_Wallpapers/Minecraft_Logo.jpg")
}


.button {
    background-color: #333;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    transition-duration: 0.4s;
    color:white;
    font-family:monospace;
}

 .button:hover {
        color: #111;
 }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-family:monospace;
}

#nav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 16px;
    font-family:monospace;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family:monospace;
}

#nav li a:hover {
    background-color: #111;
}

#DetailsView1 {
   float: left;
}
